{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main-page/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="{% url "patient_register" %}">Signup</a></li>
            <li><a href="{% url "login_view" %}">Login</a></li>
            <li><a href="{% url "log_out" %}">Logout</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <a href="{% url 'createToken' %}" class="book-button">Book</a>
    </div>
</body>
</html>
