{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pharmacy.css' %}"> 
    <title>Pharmacy Sign Up</title>
</head>
<body>
    <div class="signup-container">
        <div class="signup-header">
            <h2>Pharmacy Sign Up</h2>
            <p>Register your pharmacy!</p>
        </div>
            <form method="POST" action="{% url 'pharmacy_signup' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          <div class="error-message">
            {{ field.errors }}
          </div>
        </div>
      {% endfor %}

      <button type="submit" class="signup-button">Register Hospital</button>
    </form>
        <div class="footer">
            &copy; 2024 Pharmacy Team. All rights reserved.
        </div>
    </div>
</body>
</html>
