{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="signup">
            <form method="POST" action="{% url 'patient_register' %}">
                {% csrf_token %}
                <label aria-hidden="true">Sign Up</label>

                {% for field in form %}
                    <div>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="error">{{ form.non_field_errors }}</div>
                {% endif %}

                <a href="{% url "main_page_go" %}"><button type="submit">Sign Up</button></a>
            </form>
        </div>
    </div>
</body>
</html>
